# App configuration
NODE_ENV=development
PORT=8000
FRONTEND_URL="http://localhost:3000"
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
CACHE_CONNECTION_URI="valkey://localhost:6379/backend"